/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Hero */
.hero__container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-top: 168px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}




/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

@media (min-width: 550px) {
  .container {
    max-width: 1042px;
  }
}

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 16px sizing. So basically 1.4rem = 24px :) */
html {
  font-size: 16px; }
body {
  background: #f9fafc;
  font-size: 1rem; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Apercu", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

@media (min-width: 2000px) {
  body {
    font-size: 1rem;
  }
}

.darkmode--activated body {
  background: #000;
}

body {
    animation: myfadeInAnimation 0.5s;
}

@keyframe myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes myfadeInAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}


.darkmode-toggle {
  z-index: 999;
}

.darkmode-toggle::before {
    content: "DARK";
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 8px;
    font-weight: 700;
}

.darkmode-toggle.darkmode-toggle--white::before {

    content: "LIGHT";
    color: #000;
    font-size: 12px;
    position: absolute;
    left: 7px;
    font-weight: 700;

}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Font */
@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Italic.woff2') format('woff2'),
        url('../fonts/Apercu-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-BoldItalic.woff2') format('woff2'),
        url('../fonts/Apercu-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Regular.woff2') format('woff2'),
        url('../fonts/Apercu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-LightItalic.woff2') format('woff2'),
        url('../fonts/Apercu-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Medium.woff2') format('woff2'),
        url('../fonts/Apercu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono';
    src: url('../fonts/Apercu-Mono.woff2') format('woff2'),
        url('../fonts/Apercu-Mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Light.woff2') format('woff2'),
        url('../fonts/Apercu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-Bold.woff2') format('woff2'),
        url('../fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('../fonts/Apercu-MediumItalic.woff2') format('woff2'),
        url('../fonts/Apercu-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Souvenir';
    src: url('../fonts/SouvenirStd-MediumItalic.woff2') format('woff2'),
        url('../fonts/SouvenirStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Souvenir';
    src: url('../fonts/SouvenirStd-BoldItalic.woff2') format('woff2'),
        url('../fonts/SouvenirStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Souvenir';
    src: url('../fonts/SouvenirStd-LightItalic.woff2') format('woff2'),
        url('../fonts/SouvenirStd-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Souvenir';
    src: url('../fonts/SouvenirStd-Bold.woff2') format('woff2'),
        url('../fonts/SouvenirStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Souvenir';
    src: url('../fonts/SouvenirStd-Light.woff2') format('woff2'),
        url('../fonts/SouvenirStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Souvenir';
    src: url('../fonts/SouvenirStd-Demi.woff2') format('woff2'),
        url('../fonts/SouvenirStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Souvenir';
    src: url('../fonts/SouvenirStd-DemiItalic.woff2') format('woff2'),
        url('../fonts/SouvenirStd-DemiItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


.hero__profile-pic {
    width: 96px;
    height: 96px;
    margin: 0px auto 24px auto;
    background: url("../images/tonysarg-logo-black.svg");
    background-repeat: no-repeat;
}

.darkmode--activated .hero__profile-pic {
    background: url("../images/tonysarg-logo-white.svg");
    width: 96px;
    height: 96px;
    margin: 0px auto 24px auto;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 3.6rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.0rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.4rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.0rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; }


.hero__h1 {
    display: block;
    margin-top: 0px;
    margin-bottom: 4px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: "Souvenir", sans-serif;

    line-height: 1.2;
    font-weight: 400;
}

.darkmode--activated .hero__h1 {
    color: #fff;
}

.hero__-h2 {
    margin-top: 0px;
    margin-bottom: 60px;
    font-family: "Apercu", sans-serif;
    color: rgba(0, 0, 0, .6);
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
  }

.darkmode--activated .hero__-h2 {
        color: rgba(255, 255, 255, .6);
}

.hero__-h2 a {
        color: rgba(0, 0, 0, .6);
  }

.darkmode--activated .hero__-h2 a {
        color: rgba(255, 255, 255, .6);
}


.hero__-h2.hero__h2--mobile {
    display: none;
}


.email {
    display: none;
    margin-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family:  "Apercu", sans-serif;
    color: rgba(0, 0, 0, .6);
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: none;
}

.hero__email-link {
    display: none;
    margin-top: 12px;
    margin-bottom: 16px;
    font-family:  "Apercu", sans-serif;
    color: rgba(0, 0, 0, .3);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.hero__nav {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family:  "Apercu", sans-serif;
    color: rgba(0, 0, 0, .6);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: none;
    list-style-type: none;
}


.hero__nav-link {
    margin-right: 0px;
    margin-left: 0px;
    padding: 12px 16px;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    text-decoration: none;
}

.darkmode--activated .hero__nav-link {
    color: rgba(255, 255, 255, .5);
}

.darkmode--activated hero__nav {
        color: #fff;
}

.hero__nav-link.hero__nav-link--active {
    color: rgba(0, 0, 0, .9);
}

.darkmode--activated .hero__nav-link.hero__nav-link--active {
    color: rgba(255, 255, 255, .9);
}

.darkmode--activated hero__nav-link hero__nav-link--active w-inline-block w--current {
    color: rgba(0, 0, 0, .9);
}


.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.w-container:after {
    clear: both;
}
.w-container:before, .w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.hero__nav-link.hero__nav-link--active {
    color: rgba(0, 0, 0, .9);
}

.darkmode--activated .hero__nav-link.hero__nav-link--active {
    color: rgba(255, 255, 255, .9);
}

.hero__nav-link {
    margin-right: 0px;
    margin-left: 0px;
    padding: 12px 16px;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    text-decoration: none;
}

.darkmode--activated .hero__nav-link {
    margin-right: 0px;
    margin-left: 0px;
    padding: 12px 16px;
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
    text-decoration: none;
}


.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.60rem; }
  h2 { font-size: 3.0rem; }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 2.0rem; }
  h5 { font-size: 1.4rem; }
  h6 { font-size: 1.0rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #000; 
  transition: color .25s
}

.darkmode--activated a {
color: #fff; 
  transition: color .25s
}

li {
  display: inline;
}
li > a {
  text-decoration: none !important;
  color: #000;
}

.darkmode--activated li > a {
  text-decoration: none !important;
  color: #fff;
}

.list-inline {
  font-size: 20px;
  color: #000;
  margin-top: 35px;
}

.darkmode--activated .list-inline {
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* underline
<span class="underline"><a href="#">Link</a></span>
*/

.underline {
  position: relative;
  margin: 3px;
}
.underline  a {
    text-decoration: none !important;
}
.underline:hover,
.underline:focus,
.underline:active {
 cursor: pointer;

}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  width: 0;
}
.underline:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: .5rem;
  width: 98%;
  transition: width .25s;
  z-index: -999;
  background: rgba(139,200,246,.565);
}

/* Portfolio items */
a:focus {
  outline: none;
}

.portfolioFilter {
  margin:0 auto;
  max-width: 600px;
  height:auto;
  display: block;
  padding: 15px 0;
}

.portfolioFilter a {
  margin-bottom: 6px;
  margin-right: 6px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
  -webkit-border-radius: 50px;
  display: inline-block;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;
}

.darkmode--activated .portfolioFilter a {
      color: #666;
      border: 1px solid #666;
}
    

.portfolioFilter a.current {
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}

.darkmode--activated .portfolioFilter a.current {
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #1e1e1e;
}

.filtercontainer {
margin-bottom: 24px;
}

.portfolioContainer{
  margin-bottom: 160px;
}
img {
  margin: 5px;
  max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
