@font-face {
    font-family: 'ITC Souvenir Std';
    src: url('SouvenirStd-MediumItalic.woff2') format('woff2'),
        url('SouvenirStd-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Souvenir Std';
    src: url('SouvenirStd-BoldItalic.woff2') format('woff2'),
        url('SouvenirStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Souvenir Std';
    src: url('SouvenirStd-LightItalic.woff2') format('woff2'),
        url('SouvenirStd-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ITC Souvenir Std';
    src: url('SouvenirStd-Bold.woff2') format('woff2'),
        url('SouvenirStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Souvenir Std';
    src: url('SouvenirStd-Light.woff2') format('woff2'),
        url('SouvenirStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Souvenir Std';
    src: url('SouvenirStd-Demi.woff2') format('woff2'),
        url('SouvenirStd-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Souvenir Std';
    src: url('SouvenirStd-DemiItalic.woff2') format('woff2'),
        url('SouvenirStd-DemiItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

